.card {
  box-shadow: #393939 2px 2px 15px;
  margin-top: 1.5rem;
  border-radius: 8px;
}

.cardContent {
  padding: 10px 10px 40px 10px;
  overflow: hidden;
  position: relative;
}


.cardContentCollapsed .wrapper {
  max-height: 200px;
  overflow: hidden;
}

.cardFooter {
  display: flex;
  padding: 20px 10px 10px 10px;
  border-top: 1px solid white;
  overflow-x: scroll;
}

.cardFooter >  * {
  margin-right: 10px;
  flex-shrink: 0;
}

.btnCollapse {
  background: transparent;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  color: rgb(0, 162, 255);
  position: absolute;
  right: 10px;
  bottom: 10px;
}