.card {
  box-shadow: #393939 2px 2px 15px;
  margin-top: 1.5rem;
  border-radius: 8px;
}

.cardContent {
  padding: 10px 10px 50px 10px;
  position: relative;
  overflow: hidden;
}

.cardContentCollapsed {
  max-height: 200px;
}

.cardFooter {
  display: flex;
  padding: 20px 10px 10px 10px;
  border-top: 1px solid white;
}

.cardFooter * {
  margin-right: 10px;
  overflow: scroll;
}

.btnCollapse {
  background: transparent;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  color: rgb(0, 162, 255);
  position: absolute;
  right: 10px;
  bottom: 10px;
}