.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 6rem 6rem;
}

.section {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0 2rem 0;
}

.socials {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}


.image {
  border-radius: 10%;
  margin-top: 50px;
}

.card {
  border: 1px solid #fff;
  margin-top: 1rem;
}

.cardContent {
  padding: 10px 10px 5px 10px;
}

.cardFooter {
  display: flex;
  padding: 20px 10px 10px 10px;
  border-top: 1px solid white;
}

.cardFooter * {
  margin-right: 10px;
  overflow: scroll;
}